{
    "server_address": "DCS_SERVER_IP",
    "server_address_gui": "DCS_SERVER_IP",
    "server_port": 12080,
    "server_port_gui": 12081,
    "use_https": false,
    "web_auth_username": "your_username",
    "web_auth_password": "your_password",
    "run_code_locally": false,
    "run_in_mission_env": true,
    "return_display_format": "lua",
    "window_width": 1589,
    "window_height": 767,
    "editor_font_size": 12,
    "editor_font_family": "Consolas"
}